@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Regular.otf');
}

:root{
    --color-background: #fffdf7;
    --color-black: #212121;
    --color-black-heavy: #000;
    --color-text: #4f4f4f;
    --color-text-out: #90908e;
    --color-primary: #ffbf00;
    --color-secondary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #e74c3c;
    --color-green: #2zcc71;
    --color-separate: #cccccc;
}

html, body{
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

b {
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

.color-primary {
    color: var(--color-primary);
}

a.navbar-brand {
    margin-left: -25px;
}
.nav-link {
    color: var(--color-black);
    padding-left: 35px !important;
    padding-right: 35px !important;
}

.btn-white {
    background-color: var(--color-white);
    color: var(--color-black) !important;
    border-radius: 20px;
    padding: 9px 20px;
    font-size: 19px;
    box-shadow: 0px 12px 15px -3px rgba(0,0,0,0.1);
}

.btn-white.active, .btn-white:hover {
    background-color: var(--color-primary);
}

.btn-yellow {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    border-radius: 15px;
    padding: 8px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgb(0,0,0,0.1);
}

.btn-icon {
   padding-right: 75px;
}

.btn-icon .icon {
   display: inline-block;
    color: var(--color-black);
    background-color: var(--color-primary);
    width: 45px;
    height: 40px;
    position: absolute;
    right: 10px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 7px;
}

.banner {
    padding-top: 110px;
    padding-bottom: 200px;
}

.text-banner {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.text-banner h1{
    color: var(--color-black);
    font-size: 53px;
}

.text-banner p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

.btn-icon-left {
    padding-left: 70px;
}

.contact {
    font-size: 15px;
}
.btn-icon-left span.icon-left {
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-primary);
    width: 45px;
    height: 40px;
    position: absolute;
    margin-left: -60px;
    margin-top: -8px;
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}

.btn-sm {
    padding: 5px 15px; !important;
    border-radius: 15px !important;
    font-size: 18px !important;
}

.btn-social {
    width: 50px;
}

.card-banner {
    height: 450px;
    width: 450px;
    border-radius: 170px;
    background-color: #f4c949;
    position: absolute;
    right: 0;
    top: -30px;
}

.img-banner img {
    position: absolute;
    width: 570px;
    top: 30px;
    right: 15px;
}

.card {
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgb(0,0,0,0.1) !important;
    border: none;
}

.card-case {
    width: 350px;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: -75px;
}

.card-case-name {
    position: absolute;
    font-size: 12px;
    color: var(--color-primary);
    right: 20px;
    bottom: 10px;
}

.services {
    padding-top: 100px;
    padding-bottom: 150px;
}

.hint-title {
    color: var(--color-primary);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title {
    color: var(--color-black);
    font-size: 37px;
    margin-top: 5px;
    margin-bottom: 30px;
}

/*.card-icon {*/
/*    height: 150px;*/
/*    margin: 0 auto;*/
/*    margin-bottom: 30px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.card-text {
    color: var(--color-text-out);
    font-size: 15px;
    padding: 0px 30px;
}

.card-text p {
    font-size: 22px;
    color: var(--color-black);
    margin-bottom: 10px;
}

.background-services {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url('../img/bg-icons-2.png');
}

.menu {
    padding-top: 50px;
    padding-bottom: 150px;
}

.menu .background-menu {
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    background-image: url('../img/bg-icons-1.png');
}

.container-menu {
    margin-bottom: 40px;
}

.card-item {
    height: 360px;
}

.card-item .product-img img{
    width: 100%;
    border-radius: 11px;
}

.card-item .product-title {
    color: var(--color-black);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 40px;
    margin-bottom: 0px;
}

.card-item .product-price {
    color: var(--color-primary);
    font-size: 24px;
}

.card-item .add-tray {
    display: none;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn-less {
    color: var(--color-black-heavy);
    padding: 5px 7px;
    border: 2px solid var(--color-black-heavy);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.btn-plus {
    color: var(--color-black-heavy);
    padding: 5px 7px;
    border: 2px solid var(--color-black-heavy);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.add-number-items {
    color: var(--color-black-heavy);
    padding: 2px 15px;
    border-top: 2px solid var(--color-black-heavy);
    border-bottom: 2px solid var(--color-black-heavy);
    font-size: 18px;
}

.btn-add {
    border: 2px solid var(--color-primary);
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-primary);
    margin-left: 15px;
}

.btn-add-final {
    border: 2px solid var(--color-black-heavy);
    font-size: 18px;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-black-heavy);
    margin-left: 15px;
}

.card-item:hover {
    background-color: var(--color-primary);
    cursor: pointer;
}

.card-item:hover .product-title{
    display: none;
}

.card-item:hover .add-tray{
    display: flex;
}

.card-item:hover .product-price{
    color: var(--color-black-heavy) !important;
    margin-top: 20px;
}

.card-item:hover .btn-add{
    background-color: var(--color-black-heavy) !important;
    color: var(--color-white) !important;
}

.reserve{
    padding-bottom: 150px;
}

.card-secondary{
    background-color: var(--color-secondary);
    border-radius: 70px;
    padding: 90px;
}

.card-reserve{
    height: 320px;
    width: 320px;
    border-radius: 120px;
    background-color: var(--color-white);
    position: absolute;
    right: 0;
    top: -25px;

}

.reserve .img-banner img{
    width: 100%;
}

footer{
    background-color: var(--color-secondary);
}

.logo-footer{
    width: 80px;
}

.container-logo-footer, .container-footer-text, .container-media-footer{
   display: flex;
   align-items: center;
}

.container-logo-footer{
    justify-content: start;
}

.container-footer-text{
    justify-content: center;
}

.container-media-footer{
    justify-content: end;
}

.modal-full{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    background: var(--color-white);
    /*z-index: 9990;*/
    overflow-x: hidden; /*Não deixando barra de rolagem em horizontal*/
    overflow-y: auto; /*Colocando barra de rolagem em vertical*/
    display: flex;
    flex-direction: column;
}

.m-header {
    padding-bottom: 20px;
}

.m-body {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
}

/*Caso queira retirar a barra de rolagem.*/

/*.m-body::-webkit-scrollbar {*/
/*    width: 6px;*/
/*    background: transparent;*/
/*}*/

/*.m-body::-webkit-scrollbar-thumb {*/
/*    background: var(--color-white);*/
/*}*/

/*.m-body::-webkit-scrollbar-track {*/
/*    background: transparent;*/
/*}*/

.steps {
    display: flex;
}

.step {
    width: 35px;
    height: 35px;
    background-color: var(--color-white);
    border-radius: 50px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.step::before {
    content: '';
    width: 20px;
    background-color: var(--color-separate);
    position: absolute;
    height: 2px;
    margin-left: 55px;
}

.step:last-child::before {
    content: none;
}

.step.active, .step.active::before {
    background-color: var(--color-primary);
}

.tray-title {
    font-size: 20px;
    color: var(--color-black);
}

.modal-full .tray-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--color-separate);
}

.modal-full .tray-item:last-child {
    border-bottom: none;
}

.modal-full .product-img {
    width: 100px;
    height: 100px;
    border-radius: 11px;
}

.modal-full .product-title {
    color: var(--color-black);
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.modal-full .product-price {
    color: var(--color-primary);
    font-size: 24px;
    margin-bottom: 0;
}

.modal-full .product-data {
    flex: 1;
    padding-left: 25px;
    padding-right: 25px;
}

.modal-full .add-tray {
    display: flex;
    text-align: center;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.btn-remove {
    border: 2px solid var(--color-red);
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-red);
    margin-left: 15px;
}

.container-total {
    padding-top: 20px;
    border-top: 1px solid var(--color-separate);
}

.container-total .delivery-text {
    color: var(--color-separate);
}

.container-total .total-text {
    color: var(--color-black);
    font-size: 20px;
    margin-top: 10px;
}

.container-total .totalValue {
    color: var(--color-primary);
    font-size: 24px;
}

.form-control {
    background-color: var(--color-white);
    color: var(--color-black)!important;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1)!important;
    border: none; !important;
}

#ddlUf {
    height: 60px; !important;
}

.container-cep .form-control {
    padding-right: 75px;
}

.container-cep .btn {
    position: absolute;
    right: 25px;
    top: 45px;
}

.img-product-resume img {
    width: 50px;
    border-radius: 11px;
}

.tray-item .resume {
    padding-top: 10px;
    padding-bottom: 10px;
}

.resume-product-title {
    color: var(--color-black);
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.resume-product-price {
    color: var(--color-primary);
    font-size: 16px;
    margin-bottom: 0;
}

.resume-product-quantity {
    color: var(--color-black);
    font-size: 10px;
    margin-bottom: 0;
}

.img-map {
    width: 50px;
    height: 50px;
    background-color: var(--color-secondary);
    color: var(--color-black);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
}

.img-user {
    width: 50px;
    height: 50px;
    background-color: #cecef3;
    color: var(--color-black);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
}

.address-text {
    margin-bottom: 0;
    color: var(--color-black);
}

.cityAddress {
    margin-bottom: 0;
}

#btnAddressStep, #btnResumeStep, #btnBack, #btnLastBack, .delivery-text, .tray-container, .valor-entregue, .valor-troco, #btnCheck,
#btnSecondBack, .cupom{
    display: none;
}

#trayItems {
    margin-top: -15px;
}

.badge-total-tray {
    width: 25px;
    height: 25px;
    position: absolute;
    background-color: var(--color-secondary);
    border-radius: 50px;
    right: -5px;
    top: -5px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-tray-side{
    position: fixed;
    right: 30px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
}

.btn-live-order{
    position: fixed;
    right: 30px;
    bottom: 90px;
    height: 50px;
    width: 50px;
    background-color: #6262ef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
}

#pagamento {
    height: 62px;
}

.alerta-troco {
    font-size: 15px;
    display: none;
}

.modal-image{
    height: 200px;
    width: 210px;
    border-radius: 30px;
}

.vibrar {
    animation: vibracaoVertical 0.5s ease-in-out;
}

@keyframes vibracaoVertical {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    25% {
        transform: translateY(-10px) rotate(-5deg);
    }
    50% {
        transform: translateY(10px) rotate(5deg);
    }
    75% {
        transform: translateY(-10px) rotate(-5deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

.table-row {
    display: flex; /* Usa flexbox para alinhar o ícone e o texto */
    align-items: center; /* Alinha o ícone e o texto verticalmente */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Linha de separação entre os itens */
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    margin-left: -5px;
}

.table-row i {
    font-size: 20px; /* Tamanho do ícone */
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    color: #aeabab /* Cor do ícone (pode ser qualquer cor desejada) */
}

.table-row .text {
    color: var(--color-black); /* Cor do texto */
}

.first-live{
    color: var(--color-primary) !important;
}

.order-items{
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
    gap: 10px;
}

.live-delivery {
    display: flex; /* Coloca o ícone e o texto em linha */
    align-items: center; /* Alinha verticalmente no centro */
}

.live-img-map {
    margin-right: 100px; /* Espaçamento entre o ícone e o texto */
}

.live-delivery-data {
    display: flex;
    flex-direction: column; /* Faz o texto aparecer em coluna */
}

.live-address-text, .live-cityAddress {
    margin: 0; /* Remove as margens extras nos textos */
}

#live-addressResume, #live-cityAddress {
    margin-left: 10px !important;
}

.resume-order-title {
    color: var(--color-black);
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
    margin-left: 10px !important;
}








/*.modal-item{*/
/*    background-color: var(--color-primary);*/
/*}*/
















