@media (min-width: 992px){
    .mb-only, #btn-useHelp{
        display: none;
    }

    .order-info {
        display: block;
    }
}


@media (min-width: 768px) and (max-width: 991px){

}

@media (min-width: 576px) and (max-width: 767px){

}

@media (max-width: 900px){

    .no-mobile, .order-info{
        display: none !important;
    }

    .mb-only {
        display: block;
    }

    .col-one{
        padding-left: 35px; !important;
        padding-left: 35px; !important;
    }

    .navbar-toggler-icon{
        padding-top: 5px;
    }

    .navbar-collapse{
        background-color: var(--color-secondary);
        padding: 20px;
        text-align: center;
        border-radius: 40px;
    }

    .navbar-collapse .btn-white{
        margin-top: 20px;
    }

    .navbar-collapse .btn-icon{
        padding-right: 20px;
    }

    .navbar-collapse .btn-icon span.icon{
        display: none;
    }

    .banner{
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .text-banner h1{
        font-size: 40px;
    }

    .text-banner p{
        font-size: 18px;
    }

    .title {
        font-size: 30px;
    }

    .services {
        padding-bottom: 20px;
    }

    .menu {
        padding-bottom: 50px;
    }

    .drinksBtn, .dessertsBtn{
        margin-top: 10px;
    }

    .product-img {
        position: absolute;
        left: 15px;
    }

    .card-item {
        height: 110px;
        padding-left: 110px;
        justify-content: center;
        align-items: start;
    }

    .card-item .product-img img {
        width: 80px;
    }

    .product-title{
        margin-top: 0px !important;
        height: 30px !important;
        width: 100%;
        text-align: left !important;
    }

    .product-price{
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        font-size: 18px !important;
    }

    .card-item .add-tray{
        margin-top: 5px;
    }

    .reserve{
        padding-bottom: 50px;
    }

    .card-secondary{
        padding: 45px;
        border-radius: 50px;
    }

    .container-logo-footer {
        justify-content: center;
    }

    .container-footer-text p{
        text-align: center;
    }

    .container-media-footer{
        margin-top: 30px;
        margin-bottom: 40px;
        justify-content: center;
    }

    .modal-full{
        padding: 40px;
    }

    .modal-full .tray-item{
        padding-left: 0px;
        padding-right: 0px;
    }

    .modal-full .img-product{
       display: none;
    }

    .modal-full .product-data{
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
    }

    .modal-full .product-title, .modal-full .product-price{
        font-size: 16px !important;
    }

    .modal-full .add-number-items{
        padding: 2px 7px;
    }

    .modal-full .form-control{
        font-size: 16px;
    }

    #cadastrarCupom{
        margin-top: 20px !important;
    }

    .bg-description{
        margin-top: 25px;
    }



    /*.container-menu{*/
    /*    overflow-x: auto;*/
    /*    overflow-y: hidden;*/
    /*    display: flex;*/
    /*    padding-bottom: 15px;*/
    /*}*/
}
